---
import BaseLayout from '../layouts/BaseLayout.astro';
import IntroCard from '../components/sections/IntroCard.astro';
import BlogCard from '../components/sections/BlogCard.astro';
import TimeZoneCard from '../components/sections/TimeZoneCard.astro';
import Contact from '../components/sections/Contact.astro'; 
import Projects from '../components/sections/Projects.astro'; 
import BookmarkCard from '../components/sections/BookmarkCard.astro';
---

<BaseLayout title="Tiger's Homepage" description="Tiger的个人主页">
  <div class="grid grid-cols-1 gap-4 max-w-6xl mx-auto p-4 md:grid-cols-4 md:auto-rows-[minmax(auto,1fr)] animate-appear">
    
    <div class="md:col-span-4 h-auto md:h-full">
        <IntroCard />
    </div>

    <div class="md:col-span-1 h-auto md:h-full">
        <TimeZoneCard />
    </div>

    <div class="md:col-span-1 h-auto md:h-full">
        <Projects />
    </div>

    <div class="md:col-span-2 md:row-span-2 h-auto md:h-full">
        <BookmarkCard />
    </div>

    <div class="md:col-span-2 h-auto md:h-full">
        <BlogCard />
    </div>

    <div class="md:col-span-4 h-auto md:h-full">
        <Contact />
    </div>

  </div>
</BaseLayout>
